* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100ch;
    color: black;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}

#login {
    float: right;
    color: black;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    padding: 15px 20px;
    background-color: rgb(60, 100, 100);
}

#login:hover {
    background-color: teal;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(192, 190, 190);
    opacity: 0.6;
}

nav p {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 2rem;
    line-height: 50px;
    padding: 0px 5px;
    float: left;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 1rem;
    padding: 15px 14px;
    text-decoration: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
}

nav ul li ul li {
    width: 180px;
    border-radius: 10px;
}

nav ul li ul a {
    padding: 8px 14px
}

nav ul li ul a:hover {
    background-color: teal;
}