<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta neame="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Style.css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <title>Welcome</title>
</head>

<body>
    <nav>
        <p><a href="Index" id="logo">B2-25</a></p>
        <ul id="navElements">
            <li><a href="/">Home</a></li>
            <li><a href="#">Albums</a>
                <ul id="dropdown"></ul>
            </li>
        </ul>
    </nav>

    <time id="time"></time>
    <h1>
        <span id="greeting"></span>
        <span id="name" contenteditable="true"></span>
        <!-- Change to username or visitor depends on what the login is -->
    </h1>


    <h2>Welcome To My Web-Album!</h2>
    <h2>Look Around, There Is Many Diffrent Albums To Look At</h2>

    <!-- HTML form for the login function -->
    <button class="open-button" onclick="openForm()">CLICK TO LOGIN</button>
    <div class="Login_popup" id="LoginForm">
        <div class="form-container">
            <h1 id="login">Login</h1>
            <h2 id="login">This login page is intended for the admin of the site</h2>

            <label id="login" for="username"><b>Username</b></label>
            <input type="text" id="usernameVar" placeholder="Enter Username" name="username" value="" required>

            <label id="login" for="password"><b>Password</b></label>
            <input type="password" id="passwordVar" placeholder="Enter Password" name="password" value="" required>

            <button type="button" class="btn" onclick="login(), closeForm()">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Return </button>
        </div>
    </div>


    <!-- Loading the js scripts -->
    <script src="/javascripts/Main.js"></script>
    <script src="/javascripts/pathfile.js "></script>
    <script src="/javascripts/NavbarUpdate.js"></script>
    <script src="/javascripts/Imageupload64.js"></script>
    <script src="/javascripts/requestApi.js"></script>
    <script src="/javascripts/pathfile.js"></script>


    <div id="imgTest"></div>

    <script type="text/javascript" id="DropdownSetUp">
        updateDropdown(albums);
        addAnchor(albums);
    </script>

    <!-- Script for the login form -->
    <script>
        function openForm() {
            document.getElementById("LoginForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("LoginForm").style.display = "none";
        }
    </script>

    <!-- Script for the upload form -->
    <script>
        function openUpload() {
            document.getElementById("dropFileForm").style.display = "block";
        }

        function closeUpload() {
            document.getElementById("dropFileForm").style.display = "none";
        }
    </script>
</body>

</html>